.modal-alert {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 350px;
	z-index: 9;
	animation-name: modalLogin;
	animation-duration: 1s;
}

img.imgProduk {
	width: 100%;
	max-height: 300px;
}

@media screen and (min-width: 576px) {
	#addModal .modal-dialog {
		max-width: 1000px !important;
	}

	#listProduk .modal-dialog {
		max-width: 1200px !important;
	}
}

@keyframes modalLogin {
	from {
		top: -10px;
		opacity: 0;
	}

	to {
		top: 20px;
		opacity: 1;
	}
}
